<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.blooburn.owere">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".util.ApplicationForShared"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Owere"
        android:usesCleartextTraffic="true"
        tools:targetApi="n">

        <activity android:name=".designer.activity.reservation.RefuseReservation" />
        <activity android:name=".designer.activity.reservation.AcceptReservation" />
        <activity
            android:name=".user.activity.signUpActivity.PhoneRegisterActivity"
            android:exported="true" />
        <activity
            android:name=".user.activity.MainActivityForUnknownUser"
            android:exported="true" >



        </activity>

        <activity android:name=".user.activity.MainActivityForUnknownUserSignUpOrLogIn">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".user.activity.main.userReservation.UserWaitingReservation" />
        <activity android:name=".user.activity.main.userReservation.UserReservationDetailActivity" />
        <activity android:name=".designer.activity.main.DesignerReservationDetailActivity" />
        <activity
            android:name=".user.activity.signUpActivity.SignUpActivityMethods"
            android:exported="true" />
        <activity android:name=".user.activity.main.userReservation.ReserveSalonActivity" />
        <activity android:name=".user.activity.main.userReservation.ReserveTimeActivity" />
        <activity android:name=".user.activity.main.mypageActivity.SettingActivity" />
        <activity android:name=".user.activity.main.mypageActivity.IntroduceActivity" />
        <activity android:name=".user.activity.main.mypageActivity.AlarmSettingActivity" />
        <activity android:name=".user.activity.main.mypageActivity.QnaActivity" />
        <activity android:name=".user.activity.main.mypageActivity.EventPromotionActivity" />
        <activity android:name=".user.activity.main.mypageActivity.NoticeActivity" />
        <activity android:name=".user.activity.main.mypageActivity.InterestActivity" />
        <activity android:name=".user.activity.main.mypageActivity.MyInfoActivity" />
        <activity android:name=".user.activity.main.userReservation.ReservationCanceled" />
        <activity android:name=".user.activity.main.userReservation.ReservationInfo" />
        <activity
            android:name=".user.activity.loginActivity.LoginActivityRegisterPhoneNumber"
            android:exported="true" />
        <activity
            android:name=".user.activity.loginActivity.LoginActivityCheckEmail"
            android:exported="true" />
        <activity android:name=".user.activity.main.chattingActivity.ChattingActivity" />
        <activity android:name=".designer.activity.chattingActivity.DesignerChattingActivity"/>
        <activity
            android:name=".user.activity.loginActivity.LoginActivityRestore"
            android:exported="true"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".user.activity.loginActivity.LoginActivityEmail"
            android:exported="true" />
        <activity android:name=".user.activity.signUpActivity.SetPositionActivity" />
        <activity android:name=".user.activity.main.UserMainActivity" />
        <activity android:name=".user.activity.loginActivity.LoginActivityTemp" />
        <activity android:name=".user.activity.loginActivity.LoginActivityChoice" />
        <activity android:name=".user.activity.signUpActivity.SignUpActivity1_choice" />
        <activity android:name=".user.activity.MainActivity" />
        <activity android:name=".user.activity.main.homeActivity.UserDesignerProfileActivity" />
        <activity android:name=".user.activity.main.userReservation.ShopsOfDesignerActivity" />
        <activity android:name=".user.activity.main.userReservation.ReserveMenuActivity" />
        <activity android:name=".designer.activity.main.DesignerMainActivity">


        </activity>
        <activity android:name=".designer.activity.myPage.DesignerProfileActivity"/>
        <activity android:name=".designer.activity.myPage.EditDesignerProfileActivity"/>
        <activity android:name=".designer.activity.myPage.EditDesignerPortfolioActivity" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="1c731ef6b27d4335e6ebc47fa74f09b9" />
    </application>

</manifest>