<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blooburn.owere">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Owere"
        android:usesCleartextTraffic="true">
        <activity android:name=".activity.userMain.userReservation.ReservationInfo">


        </activity>
        <activity
            android:name=".activity.loginActivity.LoginActivityRegisterPhoneNumber"
            android:exported="true" />
        <activity
            android:name=".activity.loginActivity.LoginActivityCheckEmail"
            android:exported="true" />
        <activity android:name=".activity.userMain.chattingActivity.ChattingActivity" />
        <activity
            android:name=".activity.loginActivity.LoginActivityRestore"
            android:exported="true"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activity.loginActivity.LoginActivityEmail"
            android:exported="true" />
        <activity android:name=".activity.signUpActivity.SetPositionActivity" />
        <activity android:name=".activity.userMain.UserMainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.loginActivity.LoginActivityTemp" />
        <activity android:name=".activity.loginActivity.LoginActivityChoice"></activity>
        <activity android:name=".activity.signUpActivity.SignUpActivity1_choice" />
        <activity android:name=".activity.MainActivity">

        </activity>
        <activity android:name=".activity.userMain.homeActivity.DesignerProfileActivity" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="1c731ef6b27d4335e6ebc47fa74f09b9" />
    </application>

</manifest>